<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js"></script>
    <script type="text/javascript">
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>

</head>
<body>
<div th:fragment="main2" onload="cleanFilter();">
    <nav class="navbar navbar-expand-sm navbar-light navbar-custom" data-toggle="affix">
        <div class="d-sm-flex d-block flex-sm-nowrap">
            <div class="collapse navbar-collapse text-center" id="navbarsExample11">
                <ul class="navbar-nav second-bar">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            Kategoria
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1" >
                            <a class="dropdown-item" href="#" th:each="category, itemStat : *{categories}"
                               th:href="@{?category={cat}&gender={gen}&store={sto}(cat=${category.name}, gen=${genderVal}, sto=${storeVal})}"
                               th:text="${category.name}"></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            Płeć
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2" >
                            <a class="dropdown-item"
                               th:href="@{?category={cat}&gender=ona&store={sto}(cat=${categoryVal}, sto=${storeVal})}">Ona</a>
                            <a class="dropdown-item"
                               th:href="@{?category={cat}&gender=on&store={sto}(cat=${categoryVal}, sto=${storeVal})}">On</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            Marka
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3" >
                            <a class="dropdown-item" th:each="store, itemStat : *{stores}"
                               th:href="@{?category={cat}&gender={gen}&store={sto}(cat=${categoryVal}, gen=${genderVal}, sto=${store.name})}"
                               th:text="${store.name}"></a>
                        </div>
                    </li>
                    <form class="form-inline">
                        <input id="start_price" class="form-control mr-sm-2" style="width: 70px" type="search" placeholder="Min" aria-label="Min">
                        <input id="end_price" class="form-control mr-sm-2" style="width: 70px" type="search" placeholder="Max" aria-label="Max">
                        <a th:onclick="|price()|" class="btn button-article">Filtruj</a>
                    </form>
                    <li class="nav-item" id="clear-filter" th:classappend="${isFilter} ? 'd-none'">
                        <a class="nav-link" th:href="@{~/api/auth/}" role="button" aria-expanded="false">
                            Wyczyść filtry
                            <i class="fas fa-times" th:href="${url}"></i>
                        </a>
                    </li>
<!--                    <li class="nav-item" >-->
<!--                        <a class="nav-link" th:classappend="${store=null} ? 'hidden'" th:href="@{?}">Wyczyść filtry <i class="fas fa-times"></i></a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>