<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js"></script>
    <script type="text/javascript">
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>

</head>
<body class="pagecontainer">
<div th:fragment="main">
    <nav class="navbar navbar-light bg-light">
        <a></a>
        <a class="navbar-brand navbar-text" style="position: absolute; color: #B0C4DE;"
           th:href="@{~/api/auth/}">Gorge</a>
        <div class="row">
            <div>
                <form class="form-inline my-2 my-lg-0 pl-3">
                    <input class="form-control mr-sm-2" type="text" id="search_input" placeholder="Search" aria-label="Search">
                    <button class="btn button-article mr-sm-2" type="button" for="search_input">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div class = "mr-sm-2" sec:authorize="isAuthenticated()">
                <button class="btn btn-outline-secondary my-2 my-sm-0 pl-3" th:text="${session.email}">
                </button>
            </div>
            <div class = "mr-sm-2" sec:authorize="isAnonymous()">
                <button class="btn btn-outline-secondary my-2 my-sm-0 pl-3" data-toggle="modal"
                        data-target="#exampleModalCenter">Zaloguj się
                </button>
            </div>
            <div class="btn-group mr-sm-2" sec:authorize="isAuthenticated()">
                <button type="button" id="dropdownMenuButton" class="btn dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:href="@{~/password/change}">Zmień hasło</a>
                    <a class="dropdown-item" th:onclick="|logout()|">Wyloguj się</a>
                </div>
            </div>
            <div class = "mr-sm-2" sec:authorize="isAuthenticated()">
                <a class="btn button-article my-2 my-sm-0" th:href="@{~/favourites}">Ulubione</a>
            </div>
        </div>
    </nav>
    <!--    <div class="alert alert-danger" id="alert">-->
    <!--        Nieprawidłowe dane!-->
    <!--    </div>-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="bg-light my-auto login-box">
                    <div class="modal-header">
                        <h5 class="modal-title">Logowanie</h5>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Adres email:</label>
                                <input type="email" class="form-control" name="email" id="email"
                                       th:required="required">
                            </div>
                            <div class="form-group">
                                <label>Hasło:</label>
                                <input type="password" class="form-control" name="password" id="password"
                                       th:required="required">
                            </div>
                            <div class="alert alert-info">
                                <strong>Nie masz jeszcze konta?</strong> Załóż teraz!
                            </div>
                            <div id="alert_login" name="alert" class="d-none" style="min-width: 250px;">
                                <div class="alert alert-danger">
                                    <strong>Niepoprawne hasło!</strong> Upewnij się, czy hasło zostało poprawnie wprowadzone
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6"><a
                                        th:href="@{~/registration}">Załóż konto</a></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj</button>
                            <a th:onclick="|login()|" class="btn button-article">Zaloguj się</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>