<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/fc1f7fe526.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/change_password.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/article.css">
    <link rel="stylesheet" href="/css/search.css">
</head>
<body class="pagecontainer">
<div th:insert="/fragments/navbar.html :: main"></div>

<div class="grid-container p-5 d-flex justify-content-center">
    <div class="grid-center shadow bg-light login-box col-6" style="max-height: 80vh">
        <h5 class="modal-header"> Zmiana hasła </h5>
        <form action="">
            <div class="row justify-content-center">
                <div class="form-group col-sm-12" style="min-width: 250px;">
                    <div class="alert alert-info" role="alert">
                        <h5 class="alert-heading"> Hasło musi:</h5>
                        <p> • być przynajmniej 8 znakowe, </p>
                        <p> • zawierać przynajmniej jedną dużą literę, </p>
                        <p> • zawierać przynajmniej jeden znak specjalny </p>
                    </div>
                </div>
                <div class="form-group col-sm-12 text-custom" style="min-width: 250px; ">
                    <div>
                        <label for="pwd">Obecne hasło:</label>
                    </div>
                    <div>
                        <input type="password" class="form-control" id="pwd" required>
                    </div>
                </div>

                <div class="form-group col-sm-6" style="min-width: 250px;">
                    <div>
                        <label for="new_pwd">Nowe hasło:</label>
                    </div>
                    <div>
                        <input type="password" class="form-control" id="new_pwd" required>
                    </div>
                </div>
                <div class="form-group col-sm-6" style="min-width: 250px;">
                    <div>
                        <label for="new_pwd2">Potwierdzenie nowego hasła:</label>
                    </div>
                    <div>
                        <input type="password" class="form-control" id="new_pwd2" required>
                    </div>
                </div>
                <div id="alert1" name="alert_change" class="form-group col-sm-12 d-none" style="min-width: 250px;">
                    <div class="alert alert-danger">
                        <strong>Niepoprawne hasło!</strong> Upewnij się, czy hasło zostało poprawnie wprowadzone
                    </div>
                </div>
                <div id="alert2" name="alert_change" class="form-group col-sm-12 d-none" style="min-width: 250px;">
                    <div class="alert alert-danger">
                        <strong>Niepoprawne hasło!</strong> Upewnij się, czy nowe hasło spełnia warunki
                    </div>
                </div>
                <div id="alert3" name="alert_change" class="form-group col-sm-12 d-none" style="min-width: 250px;">
                    <div class="alert alert-danger">
                        <strong>Hasła różnią się!</strong> Upewnij się, czy powtorne hasło zostało poprawnie wpisane
                    </div>
                </div>
                <div class="form-group col-sm-12" style="min-width: 250px; height:40px">
                    <a th:onclick="|changePassword()|" class="btn button-article"
                       style="float: right">Zatwierdź
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</body>