<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/fc1f7fe526.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/article.css">
    <link rel="stylesheet" href="/css/search.css">
</head>

<body>
<div th:insert="/fragments/navbar.html :: main"></div>

<div class="grid-container p-5 d-flex justify-content-center">
    <div class="grid-center shadow bg-light login-box col-6">
        <h5 class="modal-header"> Rejestracja </h5>
        <form action="">
            <div class="form-group text-custom">
                <label for="register_email">Adres email:</label>
                <input type="email" class="form-control" id="register_email" required>
            </div>
            <div class="form-group text-custom">
                <label for="pwd_register">Hasło:</label>
                <input type="password" class="form-control" id="pwd_register" required>
            </div>
            <div class="form-group text-custom">
                <label for="pwd_register2">Potwierdź hasło:</label>
                <input type="password" class="form-control" id="pwd_register2" required>
            </div>

            <div class="alert alert-info" role="alert">
                <h5 class="alert-heading"> Hasło musi:</h5>
                <p> • być przynajmniej 8 znakowe, </p>
                <p> • zawierać przynajmniej jedną dużą literę, </p>
                <p> • zawierać przynajmniej jeden znak specjalny </p>
            </div>

            <div id="alert-register-1" name="alert-register" class="alert alert-danger d-none">
                Użytkownik z podanym emailem już istnieje!
            </div>
            <div id="alert-register-2" name="alert-register" class="alert alert-danger d-none">
                Hasła nie zgadzają się!
            </div>
            <div id="alert-register-3" name="alert-register" class="alert alert-danger d-none">
                Hasło nie spełnia warunków!
            </div>

            <div class="form-group col-sm-12" style="min-width: 250px; height:40px">
                <a th:onclick="|register()|" class="btn button-article" style="float: right">Zatwierdź</a>
            </div>
        </form>
    </div>
</div>

</body>

</html>